:root {
    --colorPrincipal: #2779b8;
    --colorSecundario: #9ed6f9;
    --fuentePrincipal: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
  }

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
  }

@media (min-width: 1140px) {
  .contenedor {
    max-width: 88%;
    margin: 0 auto;
  }
}

@media (max-width: 1140px) and (min-width: 768px) {
  .contenedor {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .contenedor {
    max-width: 90%;
    margin: 0 auto;
  }
}

/* ESTILOS DEL HEADER */

.navegador {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--colorSecundario);
}


  