/* EJERCICIO DE DIFERENCIA ENTRE SELECTOR DE CADENA DECENDENTE Y TODOS LOS HIJOS */

.selectorCadenaDecendente div h2{
    background-color: blue;
    height: 100px;
}

.selectorTodosLosHijos > div > div > h2{
    background-color: blue;
    height: 100px;
}


/* EJERCICIO DIFERENCIA ENTRE PADDING Y MARGIN */

.ejercicioPadding{
    height: 200px;
    background-color: green;
    padding: 50px;
}

.ejercicioMargin{
    height: 200px;
    background-color: yellow;
    margin: 50px;
    border: 50PX solid black;
}

/* EJERCICIO DISPLAY BLOCK E INLINE */ 

.ejercicioDisplay > p{
    background-color: green;
}

.ejercicioDisplay a{
    background-color: yellow;
}

.ejercicioDisplay h1{
    background-color: orange;
}

.ejercicioDisplay h3{
    background-color: purple;
}

.ejercicioDisplay h6{
    background-color: pink;
}

.ejercicioDisplay div{
    background-color: red;
}

.ejercicioDisplay2 p{
    background-color: green;
    display: inline;
}

.ejercicioDisplay2 a{
    background-color: yellow;
    display: block;
}

.ejercicioDisplay2 h1{
    background-color: orange;
    display: inline;
}

.ejercicioDisplay2 h3{
    background-color: purple;
    display: inline;
}

.ejercicioDisplay2 h6{
    background-color: pink;
    display: inline;
}

/* .ejercicioDisplay2 div{
    display: inline;
} */

/* .ejercicioDisplay2 > div > p{
    background-color: red;
} */

.ejercicioDisplay2 div, .ejercicioDisplay2 > div > p{
    background-color: red;
    display: inline;
}

/* EJERCICIO DISPLAY FLEX USO DE JUSTIFY-CONTENT Y ALIGN ITEMS */

.flex1 h5{
    width: 300px; /*ANCHO*/
    height: 300px; /*ALTO*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    background-color: green;
}

.flex2 h5{
    width: 300px; /*ANCHO*/
    height: 300px; /*ALTO*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    background-color: blue;
}

/* EJERCICIO DISPLAY  */

 .displayInline a{
    background-color: red;
    display: block;
}

.displayBlock p{
    background-color: yellow;
    display: inline;
} 


.ejercicioBoxModel{
    height: 1000px;
    padding: 100px;
    border: 10px solid black;
    margin: 200px;
} 

.ejercicioFlexRow {
    height: 300px;
    width: 300px;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
}


.ejercicioFlexColumn {
    height: 300px;
    width: 300px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
}

/* EJERCICIOS DE REPASO DISPLAY  */

/* EJEMPLO 1 */

.porcentajes{
    display: flex;
}

.porcentaje1{
    width: 20%; /*ES LO MISMO QUE PONER FLEX:1 y max-width: 200px;*/
    border: 2px solid black;
    text-align: center;
}

.porcentaje2{
    width: 30%;
    border: 2px solid black;
    text-align: center;
}

.porcentaje3{
    width: 50%;
    border: 2px solid black;
    text-align: center;
}

/* EJEMPLO 2 */

.altura {
    display: flex;
    flex-direction: column;
}

 .altura1{
    height: 100px;
    background-color: blue;
}

.altura2{
    height: 200px;
    background-color: green;
}

/* EJEMPLO 3 */

.cajasconporcentajes {
    display: flex;
}

.caja1{
    width: 40%;
    border: 2px solid black;
}

.caja2{
    width: 60%;
    border: 2px solid black;
    display: flex;
}

.caja2 .parrafo1{
    width: 30%;
    border: 2px solid black;
}

.caja2 .parrafo2{
    width: 70%;
    border: 2px solid black;
}

/* EJERCICIO PARA PRACTICAR MEDIA QUERIES */

@media (max-width:350px) {
    .mediaQueries{
        height: 500px;
        background-color: green;
    }
}

@media (min-width:350px) and (max-width:616px) {
    .mediaQueries{
        height: 500px;
        background-color: red;
    }
}

@media (min-width:616px) and (max-width:933px) {
     .mediaQueries{
        height: 500px;
        background-color: blue;
    }
}

@media (min-width:933px) and (max-width:1131px) {
    .mediaQueries{
        height: 500px;
        background-color: yellow;
    }
}

@media (min-width:1131px) {
    .mediaQueries{
        height: 500px;
        background-color: brown;
    }
}


/* EJERCICIO ABSOLUTE Y RELATIVE */

.ejercicioAR{
    height: 500px;
    background-color: blue;
    position: relative; /*RELATIVE ES EL QUE SE QUEDA ESTATICO*/
    background-image: linear-gradient(to top, red 50%, blue 80%); /*primero el sentido que va a tomar: to top va hacia arriba, donde empieza el color y distancia hasta que empiece el color, el color con que termina y la distancia que hay hasta que termine*/
    -webkit-box-shadow: 53px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 53px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 53px 10px 5px 0px rgba(0,0,0,0.75);
}


.ejercicioAR div{
    width: 50px;
    height: 50px;
    background-color: red;
    top: 250px;
    right: 0;
    position: absolute; /*ABSOLUTE ES EL QUE SE MUEVE*/
    
}

/* EJERCICIO GRID */

/* EJERCICIO 1 */

.ejercicioGrid1 div {
    border: 1px solid black;
}

.ejercicioGrid1 {
    display: grid;
    grid-template-rows: 200px 300px;
    grid-template-columns: 20% 30% 50%;
   
}

/* EJERCICIO 2 */

.ejercicioGrid2 div {
    border: 1px solid black;
}

.ejercicioGrid2 {
    display: grid;
    grid-template-rows: 50px 300px 100px 200px;
    grid-template-columns: 80% 250px;
    /* grid-template-columns: 50% 50%;
    grid-template-columns: 1fr 1fr; */
    
}

/* EJERCICIO FRACCIONES 3 */

.ejercicioFracciones div {
    border: 10px solid black;
}

.ejercicioFracciones {
    display: grid;
    height: 500px;
    grid-template-rows: 5fr 15fr 16fr 7fr;
    grid-template-columns: 1fr 3fr 2fr 1.5fr;
}

/* EJERCICIO REPEAT 4 */

.ejercicioRepeat div {
    border: 1px solid red;
}

.ejercicioRepeat {
    display: grid;
    height: 300px;
    /* grid-template-rows:2fr 2fr;
    grid-template-columns: 1fr 1fr; */
    grid: 2fr 2fr/ 1fr 1fr;
    /* column-gap: 20px;
    row-gap: 20px; */
    gap: 20px;
}

/* EJERCICIO 5 */

.ejercicio5 div{
    border: 1px solid black;
    background-color: red;
}

.ejercicio5 {
    display: grid;
    grid: 300px 300px 300px/ 50% 50%;
}

 /* .ultimoDiv {
    grid-column: 2/3;
    grid-row: 3/4;
 }   */

  .ultimoDiv {
    grid-column: 1/3;
 } 



 /* EJERCICIO 6 */

 .ejercicio6 div{
    border: 1px solid black;
}

.ejercicio6 {
    display: grid;
    grid: 100px 100px 100px/ 1fr 1fr 1fr;
}


.div1{
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: blue;
}

.div2{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: red;
}

 .div3{
    grid-column: 3/4;
    grid-row: 1/2;
     background-color: purple; 
}

 .div4{
    grid-column: 3/4;
    grid-row: 3/4;
     background-color: orange;
} 

.div5{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: pink;
} 

 .div6{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: green;
} 

/* .div4, .div3, .div6{
    background-color: green;
} */

/* EJERCICIO 7 */

.ejercicio7{
    display: grid;
    grid: 100px 200px 100px 100px/ 1fr 1fr 1fr 1fr;
}

.ejercicio7 div{
    border: 3px solid purple;
}

.primero{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: red;
}

 .segundo{
    /* grid-column: 3/4;
    grid-row: 1/2; */
    background-color: aqua; 
} 

.tercero{
    grid-column: 2/5;
    grid-row: 3/5;
    background-color: rgb(219, 45, 176);
}

.cuarto{
    grid-column: 1/2;
    grid-row: 2/5;
    background-color: brown;
}

.quinto{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: rgb(79, 19, 134);
}
