:root {
    --colorPrincipal: #2779b8;
    --colorSecundario: #9ed6f9;
    --fuentePrincipal: 'Montserrat', sans-serif;
}

h1 {
    font-family: var(--fuentePrincipal);
}

h3 {
    font-family: var(--fuentePrincipal);
}